.countdown-blocks {
    padding: 10px 5px 5px 10px;
    font-size: 0px;
}

.countdown-blocks .days-box {
    background-color: #8B88FF;
}

.countdown-blocks .hours-box {
    background-color: #FF9C00;
}

.countdown-blocks .minutes-box {
    background-color: #7BB31A;
}

.countdown-blocks .seconds-box {
    background-color: #EEDB00;
}

.countdown-blocks .box {
    display: inline-block;
    margin: 0 5px 5px 0;
}
